# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.env.*
*.db
*.sqlite3

# Alembic
alembic/versions/
*.log

# VSCode
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Trunk & Deepsource
.trunk/
.deepsource.toml

# Node.js
node_modules/
package-lock.json

# Misc
*.bak
*.swp
*.tmp
